
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


:root{
    --primary-color:#111317;
    --primary-color-light:#1f2125;
    --primary-color-extra-light:#35373b;
    --secondary-color:#E6533C;
    --text-light:#d1d5db;
        --white:#ffffff;}

.noto-sans-body {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  /* font-variation-settings:"width" 100; */
    
}

.full-body-color{
    background-color: #111317;
}


/* header-1 */
.header-1{
    width:100%;
    height:50rem;
    /* border:2px solid red; */
    margin:0 auto;
    background:linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0)); 
}
.navbar{
    width:69.5rem;
    height:2.875rem;
    border:2px solid red;
    margin:0 auto;
    margin-top:1.25rem;
    display:flex;
    justify-content: space-between;

}
.navbar-items{
    width:29rem;
    height:2.875rem;
    border:1px solid rgb(229, 217, 217);
    border-radius: 2rem;
    display:flex;
    justify-content: space-evenly;
}
.navbar-items .toggle-btn {
    color:#ffffff;
    font-size:1rem;
    cursor:pointer;
    display:none;
}
.dropdown-menu{
    position:absolute;
    display:none;
    right:2rem;
    top:3.75rem;
    width:18.75rem;
    height:0;
    background:rgba(255,255,255,0.1) ;
    backdrop-filter: blur(0.938rem);
    border-radius: 0.625rem;
    overflow:hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown-menu.open{
    height:15rem;
}
.dropdown-menu p{
    padding:0.7rem;
    display:flex;
    align-items: center;
    justify-content: center;
}
.dropdown-menu button{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.header-1-2{
    width:37.441rem;
    height:27.5rem;
    /* border:2px solid red; */
    margin-left:9rem ;
    margin-top:4rem;
    color:aqua;
}
.dancing-script-body {
    font-family: "Dancing Script";
    font-optical-sizing: auto;
    font-weight:normal;
    font-style: normal;
  }

.last-header{
    display:flex;
}
.header-1-2-button{
    width:29.875rem;
    display:flex;
    justify-content: space-between;
    /* border:2px solid red; */
    margin-top:2rem ;
   
}
.header-1-2-problem{
    width:27.5rem;
    height:36rem;
    margin:0 auto;
    /* border:2px solid red; */
}
.header-background-image{
    width:21.188rem;
    height:36.25rem;
    background-image:url("./images/Images 2.png");
    /* border:2px solid red; */
    margin:0 auto;
}




    

/* button-2ta */

.header-last-btn-1{
    height:36rem;
    border:2px solid rgba(255,255,255,0.1);
    position:absolute;
    margin:0 auto;
    margin-left:13rem;
    margin-top:8rem ;
    background:linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter:blur(0.625rem);
    -webkit-backdrop-filter: blur(0.625rem);
    border-radius:1rem;
    box-shadow:0 1.18 0.787 0    rgba(0, 0, 0, 0.17);
    
}

.header-last-btn-2{
    border:2px solid rgba(255,255,255,0.1);
    margin-right:19rem;
     margin-top:23rem;
     position:absolute;
     background:linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter:blur(0.625rem);
    -webkit-backdrop-filter: blur(0.625rem);
    border-radius:1rem;
    box-shadow:0 1.18 0.787 0    rgba(0, 0, 0, 0.17);
    
}




/* main-start */
.main-1st{
    width:65.25rem;
    height:28.25rem;
    margin:0 auto;
    /* border:2px solid red; */
    margin-top:2rem;
}
.main-1st-1{
    width:41.938rem;
    height:7.5rem;
    margin:0 auto;
    /* border:2px solid red; */

}
.main-1st-1-images{
    width:65rem;
    height:17.125rem;
    margin-top:2.5rem;
    display:flex;
    justify-content: space-between;
    /* border:2px solid red; */

}
.main-1st-1-image-box{
    width:14.438rem;
    height:18.125rem;
    align-items: center;
    

}
.image{
    margin:0 auto;
}
.image img{
    width:11.25rem;
    height:11.25rem;
    border-radius:50%;
    padding-left:1rem;
    
}
.main-2nd{
    width:66.25rem;
    height:23.188rem;
    border-radius: 1rem;
    display:flex;
    margin:0 auto;
    margin-top:2.5rem;
    background-color:rgba(34,34, 34, 100%);
    /* border:2px solid red; */
}
.main-2nd-1{
    width:27.688rem;
    height:18.125rem;
    margin-top:2.4rem;
    margin-left:2.4rem;
    /* border:2px solid red; */
}
.main-2nd-image{
    margin:0 auto;
    margin-top:2rem;
    /* border:2px solid red; */
}
.single-box{
    width:41.938rem;
    height:7.5rem;
    margin:0 auto;
    margin-top:2rem;
    /* border:2px solid red; */
}
.bmi-calculator-container{
    width:100%;
    height:30.438rem;
    background-color: #1f2125;
    margin-top:2rem;
    display:flex;
    /* border:2px solid red; */
}
.bmi-calculator-lessie{
    width:38%;
    height:27.438rem;
    margin-top:3rem;
    /* border:2px solid red; */
    margin-left: 10rem;
}
.sheet-bmi{
    width:48%;
    margin-top:2.25rem;
    border-collapse: collapse;
    margin:0 auto;
    
}
.sheet-bmi th{
    padding:0.62rem;
    border:0.063rem solid #36454F;
}
.sheet-bmi td{
    padding:0.625rem;
    border:0.063rem solid #36454F;
}
.bmi-calculator-right{
    width:33%;
    height:30.438rem;
    /* border:2px solid red; */
    margin-left: 3rem;

}
.bmi-calculator-right-input{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:1.25rem;
    /* border:2px solid red; */
    
}
.input{
    width:17.625rem;
    height:3rem;
    background-color:#36454F; 
    border-radius:1rem;
   
}
#input-1{
    background-color: rgba(34,34, 34, 100%);
    border:0.063rem solid #36454F;
    border-radius: 0.555rem ;
}

#input-2{
    background-color: rgba(34,34, 34, 100%);
    border:0.063rem solid #36454F;
    border-radius: 0.555rem ;
}
#input-3{
    background-color: rgba(34,34, 34, 100%);
    border:0.063rem solid #36454F;
    border-radius: 0.555rem ;
}
#input-4{
    background-color: rgba(34,34, 34, 100%);
    border:0.063rem solid #36454F;
    border-radius: 0.555rem ;
}
#input-5{
    width:38rem;
    grid-column:span 2;
    background-color: rgba(34,34, 34, 100%);
    border:0.063rem solid #36454F;
    border-radius: 0.555rem ;

}

/* main-last-start */

.main-last{
    width:66.25rem;
    height:48.875rem;
    margin:0 auto;
    /* border:2px solid red; */
}
.main-last-1{
    width:41.938rem;
    height:7.5rem;
    margin:0 auto;
    /* border:2px solid red; */
}
.main-last-image{
    width:66.25rem;
    height:37.75rem;
    margin-top:2rem;
    background-color:rgba(34,34, 34, 100%);
    display:flex;
    /* border:2px solid red; */
}
.main-last-images{
    width:20.375rem;
    height:35.25rem;
    margin:0 auto;
    margin-top:2rem;
    border:0.063rem solid rgba(34,34, 34, 100%);
}
.main-last-image-1{
    width:20.375rem;
    height:17rem;
    border-radius: 1rem;
    background-image: url("./images/trainer1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border:0.063rem solid rgba(34,34, 34, 100%);

}
.main-last-image-1 h1{
    margin-top:11rem;
}
.main-last-image-2{
    width:20.375rem;
    height:17rem;
    margin-top:1rem;
    border-radius: 1rem;
    background-image: url("./images/trainer4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border:0.063rem solid rgba(34,34, 34, 100%);

}
.main-last-image-2 h1{
    margin-top:11rem;
}
.main-last-image-3{
    width:20.375rem;
    height:17rem;
    border-radius: 1rem;
    background-image: url("./images/trainer2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border:0.063rem solid rgba(34,34, 34, 100%);

}
.main-last-image-3 h1{
    margin-top:11rem;
}

.main-last-image-4{
    width:20.375rem;
    height:17rem;
    border-radius: 1rem;
    margin-top:1rem;
    background-image: url("./images/trainer5.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border:0.063rem solid rgba(34,34, 34, 100%);

}
.main-last-image-4 h1{
    margin-top:11rem;
}
.main-last-image-5{
    width:20.375rem;
    height:17rem;
    border-radius: 1rem;
    background-image: url("./images/trainer3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border:0.063rem solid rgba(34,34, 34, 100%);
}
.main-last-image-5 h1{
    margin-top:11rem;
}
.main-last-image-6{
    width:20.375rem;
    height:17rem;
    border-radius: 1rem;
    margin-top:1rem;
    background-image: url("./images/trainer6.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border:0.063rem solid rgba(34,34, 34, 100%);
}
.main-last-image-6 h1{
    margin-top:11rem;
}



/* footer-start */
footer{
    width:100%;
    height:35.563rem;
    /* border:2px solid red; */
    background-color:rgba(34,34, 34, 100%);
}



.footer-1{
    width:100%;
    height:30.563rem;
    /* border:2px solid red; */
    display:flex ;
}
.footer-left{
    width:40%;
    height:30.563rem;
    /* border:2px solid red; */
}

.footer-middle{
    width:20%;
    height:30.563rem;
    /* border:2px solid red; */
}
.footer-right{
    width:40%;
    height:30.563rem;
    /* border:2px solid red; */
}
.hr{
    width:80%;
    height:none;
}

/* media-responsive-layout-phone-start */

/* header section start */
@media   (max-width:576px){
    .navbar-items{
        display:none;
    }
    .navbar{
        width:100%;
    }



     .navbar-items .toggle-btn{
        display:block;

     }
     .dropdown-menu{
        display:block;
     }
    

        body{
            flex-direction: column;
        }
    
    .header-1{
        /* display:flex; */
        height:80rem;


    }
    .header-1-2{
        width:100%;
        margin-left:0rem;
        margin-top:6rem;
        
    }
    .header-1-2-problem{
        margin-top:6rem;
    }

    .last-header{
        flex-direction: column;
    }

     /* main section start */
     
     .main-1st{
        width:100%;
        height:90rem;
        
     }
     .main-1st-1{
        width:100%;
        text-align:center;
        height:8.3rem;
     }

     .main-1st-1-images{
        width:100%;
        height:80rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
     }

     .main-2nd{
        width:80%;
        height:45rem;
        flex-direction: column;
     }

     .main-2nd-1{
        width:22.875rem ;
        height:17.5rem;
        margin-left:2rem;
        text-align:center;
     }
     .btn{
        margin-top: 3rem;
     }

     .single-box{
        width:100%;
     }
     
     .bmi-calculator-container{
        flex-direction: column;
        width:100%;
        height:65rem;
     }
     .bmi-calculator-lessie{
        width: 50%;
        height:27.438rem;
        /* margin-bottom: 20rem; */

     }
     .bmi-calculator-right{
        width:80%;
        height:34rem;
        margin:0 auto;

     }
     .input{
        width:12.555rem;
        height:3rem;
     }
     #input-5
     {
        width:27.987rem;
     }
     .main-last{
        width:100%;
        height:130rem;
     }
     .main-last-1{
        width:80%;
     }
     .main-last-image{
        width:100%;
        height:110rem;
        flex-direction: column;
     }
     .main-last-images{
        margin-top:1rem;
     }
     /* main section end */

     /* footer section start */
     
     footer{
        width:100%;
        height:76rem;
        align-items: center;
        justify-content: center;
     }


     .footer-1{
        width:100%;
        height:70rem;
        flex-direction: column;

     }
     .footer-left{
        width:80%;
        height:20.563rem;
     }
     .footer-middle{
        width:60%;
        height:23rem;
        line-height:normal;
       
     }
     .footer-right{
        width:60%;
        height:25rem;

     }
     


        





     

     



     

    
    
}













